{% block head %}
<header>
<table style="background-color:black; text-align:center; color: white; width : 100%">
        <tr>
            <td>
                <image src="Logo_Paris-1_2015.jpg" width="200" height="200" align="left">
            </td>
            <td>
                <h1 class="h1"> Notre superbe Site Internet</h1>
            </td>
            <td>
                {# <form name="formulaire" method="post" action="?page=home&action=connexion" onsubmit="return myFunction()">
                
                </form> #}
                <i class="fa-solid fa-user"></i><br>
                <a href="?page=home&action=connexion">Connexion</a>
            </td>
        </tr>
    </table>
</header>
{% endblock %}

{% block body %}

{% endblock %}

{% block foot %}
<br><br>
<hr>
<p>Site réalisé en cours ; Décembre 2023 ; Dan Kleczewski, Raymond Zheng</p>
{% endblock %}
