{% extends "commun/headerAndFooter.html.twig" %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}

<div align="center" style="width:50% ;position :relative; left:25%">

		<form name="formulaire" method="post" action="?page=Inscription&action=Create">
			<fieldset>
				<legend>
					<span>CRÉATION DE COMPTE CLIENT</span>
				</legend>
				<table>
					<tr>
						<td>
							<label>Prénom*:
							</label>
						</td>
						<td><input type="text" name="prenom" required></td>
					</tr>
					<tr>
						<td>Nom*:
						</td>
						<td><input type="text" name="nom" required></td>
					</tr>
					<tr>
						<td>Date de naissance*:
						</td>
						<td><input type="date" name="datenaiss" required></td>
					</tr>
					<tr>
						<td>
							<label for="tel">Numéro de Téléphone :
							</label>
						</td>
						<td><input type="number" , name="tel" required></td>
					</tr>

				</table>

			</fieldset>
			<br><br>
			<fieldset>
				<legend>
					<span>IDENTIFIANT ET MOT DE PASSE</span>
				</legend>
				<table>
					<tr>
						<td>
							<label for nom>Adresse Email:
							</label>
						</td>
						<td><input type="email" , name="mail" required></td>
					</tr>
					<tr>
						<td>
							<label for="mdp">Mot de Passe:
							</label>
						</td>
						<td><input type="password" , name="mdp1" required></td>
					</tr>
					<tr>
						<td>
							<label for="mdp">Confirmez le Mot de Passe:
							</label>
						</td>
						<td><input type="password" , name="mdp2" required></td>
					</tr>
					<tr>
						<td colspan="2"><br><input type="submit" value="Créer un compte"></td>
					</tr>
				</table>
			</fieldset>
		</form>
	</div>


{% endblock %}

{% block foot %}
    {{ parent() }}
{% endblock %}