{% extends "commun/headerAndFooter.html.twig" %}
{% block head %}
	{{ parent()}}
{% endblock %}

{% block body %}
<h1 style="text-align: center"> Votre compte à été supprimé avec succès</h1>
{% endblock %}

{% block foot %}
{{parent()}}
{% endblock %}