{% extends "commun/headerAndFooter.html.twig" %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div align="center">
    <h1>Êtes-vous sûr(e) de vouloir supprimer ce coussin ?</h1>
    <form name="formulaire" method="post" action="?page=Coussin&action=delete&IDCoussin={{ IDCoussin }}">
        <input type="submit" value="OUI">
    </form>
    <a href='?page=Coussin&action=read'>Retourner à la liste des coussins</a>
    </div>
{% endblock %}

{% block foot %}
    {{ parent() }}
{% endblock %}