{% extends "commun/headerAndFooter.html.twig" %}
{% block head %}
	{{ parent()}}
{% endblock %}

{% block body %}
<h1 style="text-align: center"> Une erreur est survenue lors de l'authentification </h1>
{% endblock %}

{% block foot %}
{{parent()}}
{% endblock %}