{% extends "commun/headerAndFooter.html.twig" %}
{% block head %}
	{{ parent()}}
{% endblock %}

{% block body %}
<h1 style="text-align: center"> Ce mail est déjà utilisé par un autre utilisateur </h1>
{% endblock %}

{% block foot %}
{{parent()}}
{% endblock %}