{% extends "commun/headerAndFooter.html.twig" %}
{% block head %}
	{{ parent()}}
{% endblock %}

{% block body %}
<h1 style="text-align: center"> {{info}} </h1> 
{% endblock %}

{% block foot %}
{{parent()}}
{% endblock %}