{% extends "commun/headerAndFooter.html.twig" %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div align="center">
    <form name="formulaire" method="post" action="?page=Coussin&action=update&IDCoussin={{ IDCoussin }}">
            <fieldset>
                <legend><span>MODIFICATION DES PROPRIÉTÉS DU COUSSIN</span></legend>
                    <table>
                    <tr>
                        <td><label>Nom du coussin: </label></td>
                        <td><input type="text" name="Nom" required></td>
                    </tr>
                    <tr>
                        <td>Quantité en stock: </td>
                        <td><input type="number" name="Quantite" required></td>
                    </tr>
                    <tr>
                        <td>Prix: </td>
                        <td><input type="number" name="Prix" required></td>
                    </tr><tr>
                    <td><input type="submit" value="Modifier les informations"></td> 
                    </tr>
                </table>
                </fieldset>
        </form>
    </div>
{% endblock %}

{% block foot %}
    {{ parent() }}
{% endblock %}