{% extends "commun/headerAndFooter.html.twig" %}
{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
<h1 align='center'>Modification de la BDD effectuée <br>
<a href='?page=Coussin&action=read'> Retourner à la liste des coussins </a>
</h1>
{% endblock %}
{% block foot %}
    {{ parent() }}
{% endblock %}